$ln-b-color: #0097e6;
$gh-b1-color: #273c75;
$tw-b1-color: #48dbfb;
$yt-b1-color: #eb3b5a;

// div icon
$lin-color: #0e76a8;
$gh-color: #171515;
$tw-color: #1DA1F2;
$yt-color: #c4302b;

// text-color

$txt-color: #fff;